<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle icon-only>
        <ion-icon name='menu'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ shopName }} Beers</ion-title>
  </ion-navbar>
</ion-header>
  

<ion-content>
    <ion-searchbar (ionInput)="refreshBeers($event)"></ion-searchbar>
  <ion-list *ngIf="beersList.length > 0">
    <button ion-item *ngFor="let beer of filteredBeers" (click)="onBeerInfoClick(beer)">
      <ion-thumbnail item-start>
        <img src="{{ beer.photo }}" alt="{{beer.name}} logo">
      </ion-thumbnail>
      <h2>{{ beer.name }}</h2>
    </button>
  </ion-list>
  <div padding  *ngIf="beersList.length < 1">
    <h2 text-center text-wrap>No beers added yet</h2>
  </div>
</ion-content>
  
