<ion-menu [content]="content">
    <ion-header>
        <ion-navbar>
            <ion-buttons start>
                <button ion-button menuToggle icon-only>
                    <ion-icon name='menu'></ion-icon>
                </button>
            </ion-buttons>
            <ion-title>Menu</ion-title>
        </ion-navbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <button *ngIf="isAuth" ion-item icon-left (click)="openPage(rootPage)">
                <ion-icon name="beer"></ion-icon>
                Home
            </button>
            <button *ngIf="isAuth && isManager" ion-item icon-left (click)="openPage(managePage)">
                <ion-icon name="globe"></ion-icon>
                Manage
            </button>
            <button *ngIf="!isAuth" ion-item icon-left (click)="openPage(startPage)">
                <ion-icon name="home"></ion-icon>
                Start
            </button>
            <button *ngIf="!isAuth" ion-item icon-left (click)="openPage(signinPage)">
                <ion-icon name="log-in"></ion-icon>
                Signin as a Manager
            </button>
            <button *ngIf="!isAuth" ion-item icon-left (click)="openPage(signupPage)">
                <ion-icon name="person"></ion-icon>
                Signup as a Manager
            </button>
            <button *ngIf="isAuth" ion-item icon-left (click)="logout()">
                <ion-icon name="log-out"></ion-icon>
                Logout
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
